<div data-scroll-index="0" class="get_in_tauch_area form-login">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb-90">
          <h3 class="wow">Ruleta</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="touch_form form-box">
          <div class="bottons-box" *ngIf="showBottons">
            <div class="row">
              <div class="col-md-6 text-center">
                <button (click)="functionBetColor()" class="btn btn-primary" type="submit">Jugar por color</button>
              </div>
              <div class="col-md-6 text-center">
                <button (click)="functionBetNumber()" class="btn btn-info" type="submit">Jugar por número</button>
              </div>
            </div>
          </div>
          <div class="super-box-form" *ngIf="showForm">
            <form (ngSubmit)="submit()" [formGroup]="formLogin">
              <div class="row">
                <div class="col-md-6">
                  <div class="single_input wow">
                    <label>Número</label>
                    <input type="number" max="10000" class="form-control" formControlName="number" />
                    <div class="validacion-formulario" *ngIf="formLogin.controls['number'].errors?.max">
                      La cantidad maxima es 36
                    </div>
                    <div class="validacion-formulario" *ngIf="formLogin.controls['number'].errors?.required">
                      Este campo es obligatorio
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single_input wow">
                    <label>Dinero</label>
                    <input type="number" max="36" class="form-control" formControlName="money" />
                    <div class="validacion-formulario" *ngIf="formLogin.controls['money'].errors?.max">
                      La cantidad maxima es 10000
                    </div>
                    <div class="validacion-formulario" *ngIf="formLogin.controls['money'].errors?.required">
                      Este campo es obligatorio
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 box-ruleta">
                  <div class="submit_btn wow">
                    <button class="btn btn-success" type="submit">Jugar ruleta</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="box-result" *ngIf="showResult">
            <ul>
              <li>Dinero ganado: {{ finalResult.result }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
