<div data-scroll-index="0" class="get_in_tauch_area form-login">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb-90">
          <h3 class="wow">Ruleta</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="touch_form">


          <form>
            <div class="row">


              <div class="col-md-6">
                <div class="single_input wow">


                  <!--<div class="validacion-formulario" *ngIf="formLogin.controls['name'].touched && formLogin.controls['name'].errors?.required || submitNameRequired && formLogin.controls['name'].errors?.required">
                    Escriba su nombre
                  </div>


                  <div class="validacion-formulario" *ngIf="formLogin.controls['name'].errors?.maxlength || submitNameMaxLength && formLogin.controls['name'].errors?.maxlength">
                    Su nombre no puede superar la longitud de 50 caracteres
                  </div>-->


                  <input type="number" formControlName="number" placeholder="Número">

                </div>
              </div>


              <div class="col-md-6">
                <div class="single_input wow">

                  <!--<div class="validacion-formulario" *ngIf="formLogin.controls['lastname'].touched && formLogin.controls['lastname'].errors?.required || submitLastNameRequired && formLogin.controls['lastname'].errors?.required">
                    Escriba su apellido
                  </div>

                  <div class="validacion-formulario" *ngIf="formLogin.controls['lastname'].errors?.maxlength || submitLastMaxLength && formLogin.controls['lastname'].errors?.maxlength">
                    Su apellido no puede superar la longitud de 50 caracteres
                  </div>-->

                  <input type="number" formControlName="money" placeholder="Dinero">

                </div>
              </div>



              <div class="col-lg-12">
                <div class="submit_btn wow">
                  <button class="boxed-btn3" type="submit">Jugar ruleta</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
